@model WebboardMVC.ViewModels.AddRoleToUserViewModel
@{
    ViewData["Title"] = "เพิ่มสิทธิ์ให้กับผู้ใช้ระบบ";
}
<div class="container">
    <h2 class="alert alert-danger">เพิ่มสิทธิ์ให้กับคุณ : @Model.Email</h2>
    <form asp-controller="Admin" asp-action="AddRoleToUser" class="form-group">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <input asp-for="UserId" type="hidden" />

        <label for="NewRole" class="form-label">เลือกสิทธิ์:</label>
        <select asp-for="NewRole" asp-items="Model.Roles" class="form-select mb-3">
            <option value="">-- เลือกสิทธิ์ --</option>
        </select>

        <input type="submit" value="บันทึก" class="btn btn-success" />
    </form>
</div>
