@{

}

<div class="container">
    <br />
    <h3>Addmin Menu</h3>
    <div class="card mt-2">
        <div class="card-header">
          User
        </div>
        <div class="card-body">
            <a asp-controller="Admin" asp-action="Index">
                User
            </a>
        </div>
    </div>

   @*  <div class="card mt-2">
        <div class="card-header">
            สิทธิ์ (Role)
        </div>
        <div class="card-body">
            <a asp-controller="Role" asp-action="Index">
                สิทธิ์ในระบบ
            </a>
        </div>
    </div> *@
    
</div>