@* @using Microsoft.AspNetCore.Identity; *@
@* @inject UserManager<User> userManager *@

@{
    //var user = "";
    // var user = await userManager.GetUserAsync(User);
    //  var roles = await userManager.GetRolesAsync(user);
    //int userid = Int32.Parse(@User.FindFirst("PERIDX")?.Value);
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link d-flex align-items-center" style="text-decoration: none">
        @*  <div class="brand mr-2">
        <img src="~/image/jaspallogo.jpg" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        </div>
        *@
        <span class="brand-text font-weight-light">DevWebboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/UserAvatar.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="nav-link" asp-controller="Member" asp-action="Index" role="button">
                    @User.Identity.Name
                </a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">



                <li class="nav-item">
                    <a class="nav-link text-uppercase"
                       aria-current="page" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> <p>Home</p> </a>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-uppercase " asp-area="" asp-controller="Account" asp-action="Index">  <i class="fas fa-plus"></i><p>Register</p> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase " asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i><p>Login</p> </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Member") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-area="" asp-controller="Webboard" asp-action="Index"><i class="fas fa-comment-alt"></i>  <p>Webboard</p> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-area="" asp-controller="Webboard" asp-action="Create"><i class="fas fa-plus"></i>  <p>New Post</p> </a>
                        </li>
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                  @*   <li class="nav-item">
                        <a class="nav-link text-uppercase" asp-controller="Member" asp-action="Index"><i class="fas fa-user"></i>  <p>Profile</p> </a>
                    </li> *@

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-controller="Admin" asp-action="Dashboard"><i class="fas fa-users-cog"></i>  <p> Admin Menu</p></a>
                        </li>
                    }



                }

            </ul>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>