@{

}
<div class="container">
    <h1>403 คุณไม่สิทธิ์เข้าถึงหน้าต่างนี้</h1>
    <a class="nav-link text-uppercase @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">กลับไปที่ หน้าหลัก</a>
</div>

