@{
    ViewData["Title"] = "ยืนยันอีเมล";
}

<h1>@ViewData["Title"]</h1>

@if (ViewData["Result"] != null && (bool)ViewData["Result"])
{
    <p>การยืนยันอีเมลเสร็จสมบูรณ์ คุณสามารถเข้าสู่ระบบได้แล้ว</p>
}
else
{
    <p>การยืนยันอีเมลไม่สำเร็จ กรุณาลองใหม่อีกครั้ง</p>
}
